<h1> Do your job, verify the listings</h1>

<h1>Listings</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Property type</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Description</th>
      <th>Num of rooms</th>
      <th>Num of bathrooms</th>
      <th>Num of beds</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings = Listing.order('verification, updated_at DESC, title').page params[:page] %>
    <% @listings.all.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.user.name %></td>
        <td><%= listing.property_type %></td>
        <td><%= listing.address %></td>
        <td><%= listing.city %></td>
        <td><%= listing.country %></td>
        <td><%= listing.description %></td>
        <td><%= listing.num_of_rooms %></td>
        <td><%= listing.num_of_bathrooms %></td>
        <td><%= listing.num_of_beds %></td>
        <td><%= listing.price %></td>
        <td><%= link_to 'Show', listing %></td>
        <% if current_user.id == listing.user_id %>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td><%= link_to 'Destroy', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if listing.verification == false %>
          <td><%= link_to 'Verify', verify_listing_path(listing), data: {confirm: 'Are you sure?'} %> </td>
        <% else %>
          <td><%= link_to 'Unverify', verify_listing_path(listing), data: {confirm: 'Are you sure?'} %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @listings %>
